.App {
  text-align: center;
  margin: 200px;
}

/* Estilo para el título */
.title {
  font-family: Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}